@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Schoolbell&family=Short+Stack&display=swap');

/* *** GENERAL STYLE RULES *** */
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: linear-gradient(to bottom, #ffffff, #80c7f0, #ffffff);
}

h1 {
    font-size: 300%;
    text-align: center;
    color: #42526e;
    font-family: Schoolbell, sans-serif;
}
h2 {
    color: #42526e;
    font-family: Schoolbell, sans-serif;
}

.container {
    display: block;
    width: 100%;
}

.menu-row {
    width: 60%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu-info-row {
    width: 100%;
    padding-top:  1%;
    padding-bottom: 1%;
    font-size: 90%;
    background-color: #1d5cc9;
    background-image: url("../images/swirl.png");
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin-left: 0%;
    margin-top: 1%;
    margin-bottom: 3%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
}

.menu-info-row h2{
    color: #ffffff;
}

button:hover { 
    border: 5px solid yellow;
}

.logo-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

/* *** MENU PAGE STYLING *** */
/* Menu Page Navigation Bar*/

button i {
    margin-left: 10%;
    margin-right: 10%;
}

.menu-window {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
}

.menu-window li {
    margin: 1rem;
}

.menu-window ul {
    list-style: none;
    width: 70%;
    max-width: 600px;
}

.menu-logo {
    width: 90%;  
    max-width: 600px;
}

/* Animated Flashing Text */

.flash-prompt {
    animation: flash linear 1.5s infinite;
}
@keyframes flash {
    0% {opacity: 1;}
    50% {opacity: .2;}
    100% {opacity: 1;}
}

.game-logo {
    width: 65%;  
    max-width: 400px;
}

.menu-button {
    padding: 25px;
    border-radius: 10px;
    width: 100%;
    border: 5px solid white;
    font-family: Schoolbell, sans-serif;
    font-size: 1.7rem;
    margin: 1%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    
}

#animals-button {
    background-color:  orangered;
    background-image: url(../images/carbon.png);
    color: #ffffff;
    cursor: pointer;
}

#shapes-button {
    background-color:  rgb(61, 226, 36);
    background-image: url(../images/carbon.png);
    color: oldlace;
    cursor: pointer;
}

#colors-button {
    background-color: rgb(133, 13, 193);
    background-image: url(../images/carbon.png);
    color: antiquewhite;
    cursor: pointer;
}

#sound-state{
    display: none;
}

.button-spacer {
    margin-left: 3%;
}

/* Footer Section Styleing*/

.footer-window {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
}

.footer-base p {
    margin-bottom: 5%;
}

footer i {
    color:#42526e;
}

footer p {
    font-family: Helvetica, sans-serif;
    color: #42526e;
}

/* *** GAME PAGE STYLING *** */

/* Modal style element explains how to play and then dissapears on button click */

#modal-box {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 75vh;
    position: fixed;
    z-index: 999; 
    left: 0; 
    right: 0; 
    top: 5vh;
    margin-left: auto; 
    margin-right: auto; 
    background-color: #1d5cc9;
    background-image: url("../images/swirl.png");
    padding: 30px;
    border-radius: 10px;
    border: 5px solid white;
    font-family: Schoolbell, sans-serif;
    text-align: center;
    color: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    align-items: center;
}

#modal-box h2 {
    color: #ffffff;
}

.modal-container {
    display: block;
    width: 100%;
}

.modal-row {
    display: flex;
    width: 100%;
    justify-content: center;
}

.modal-unit {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quarter-box {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}

.rules-pic1{
    border-radius: 10px;
    border: 3px solid whitesmoke;
    margin: 1rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    width: 30%;
    line-height: 10px;
    margin-top: 3%;
    
}

.rules-pic2{
    border-radius: 10px;
    border: 3px solid whitesmoke;
    margin: 1rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    width: 30%;
    line-height: 10px;
    
}

#modal-button {
    
    background-color:  orangered;
    background-image: url(../images/carbon.png);
    color: white;
    padding: 20px;
    width: 10rem;
    border-radius: 10px;
    border: 5px solid white;
    font-family: Schoolbell, sans-serif;
    font-size: 1.4rem;
    margin-top: 3%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    
}

#modal-button:hover {
    border: 5px solid yellow;
}
/* Game Page Navigation Menu & Toggle Switches */

.game-menu-row {

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin-left: 10%;

}

.back-link {
    font-size: 200%;
    padding: 5px;
}

.back-link:hover{
    border-radius: 10px;
    background: yellow;
    cursor: pointer;
}

.nav-link {
    text-align: center;
    color: #42526e;
    font-family: Schoolbell, sans-serif;
    font-size: 100%;
    padding: 5px;
}

.nav-link:hover{
    border-radius: 10px;
    background: yellow;
    cursor: pointer;
}

/* Main Game Area */

.row {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.container a {
    width: auto;
}

.align-right {
    justify-content: right;
}
.align-left {
    justify-content: left;

}

.box{
    border-radius: 10px;
    border: 5px solid whitesmoke;
    margin: 1rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    width: 175px;
    height: 175px;
    cursor: pointer;
}

.box:hover { 
    border: 5px solid yellow;
}

.game-container {

    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 2%;
}

.question-container {

    display: block;
    width: 100%;
    margin-bottom: 3%;
}

#question-row {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5rem;
}

#info-container{
    
    background-color: #1d5cc9;
    background-image: url("../images/swirl.png");
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    box-shadow: 10px 10px 15px rgb(0 0 0 / 50%);
}

#play-info {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: #ffffff;
    font-family: Schoolbell, sans-serif;
    display: block;
    
}

#score-board {
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
    color: #ffffff;
    font-family: Schoolbell, sans-serif;
    display: none;

}

.q-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}
.thumb-box {
    width: 50%;
    text-align: center;
    margin-right: 15%;
}

#question-button {
    background-color:  orangered;
    background-image: url(../images/carbon.png);
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: 3px solid white;
    font-family: Schoolbell, sans-serif;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    margin-right: 3%;
    cursor: pointer;
}

#question-button:hover { 
    border: 3px solid yellow;
}

#thumb-container{
    position: relative;
    top: 0;
    left: 0;
}

#q-thumb{ 
    position: relative;
    top: 0;
    left: 0;
    border-radius: 10px;
    border: 3px solid whitesmoke;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    margin-left: 3%;
    width: 92.5px;
    cursor: pointer;
}

#q-thumb:hover{ 
    border: 3px solid yellow;
}

#thumb-hint {
    position: absolute;
    top: 3px;
    left: 3px;
    display: none;
    margin-left: 3%;
    width: 92.5px;
    cursor: pointer;
    border-radius: 10px;
}

/* Modal style element that appears on correct answer and disappears on button click */

#congrats-box {
    display: none;
    flex-direction: column;
    width: 70vw;
    height: 75vh;
    position: fixed;
    z-index: 999; 
    left: 0; 
    right: 0; 
    top: 5vh;
    margin-left: auto; 
    margin-right: auto; 
    background-color: #1d5cc9;
    background-image: url("../images/swirl.png");
    padding: 30px;
    border-radius: 10px;
    border: 5px solid white;
    font-family: Schoolbell, sans-serif;
    text-align: center;
    color: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    align-items: center;
}

.center-box {
    margin-top: 3%;
}
.center-box h2 {
    color: #ffffff;
}


.congrats-img {
    
    border-radius: 10px;
    border: 5px solid whitesmoke;
    margin: 1rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    width: 170px;
    height: 170px;
}

#congrats-button {
    background-color:  red;
    background-image: url(../images/carbon.png);
    color: white;
    padding: 20px;
    width: 14rem;
    border-radius: 10px;
    border: 5px solid white;
    font-family: Schoolbell, sans-serif;
    font-size: 1.4rem;
    margin-top: 5%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

#congrats-button:hover { 
    border: 5px solid yellow;
}

/* Modal style element that appears at the end of test-mode game and disappears on button click */

#end-test {
    display: none;
    flex-direction: column;
    width: 70vw;
    height: 75vh;
    position: fixed;
    z-index: 999; 
    left: 0; 
    right: 0; 
    top: 5vh;
    margin-left: auto; 
    margin-right: auto; 
    background-color: #1d5cc9;
    background-image: url("../images/swirl.png");
    padding: 30px;
    border-radius: 10px;
    border: 5px solid white;
    font-family: Schoolbell, sans-serif;
    text-align: center;
    color: #ffffff;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    letter-spacing: 1px;
    align-items: center;
}

.center-box {
    margin-top: 3%;
}
.center-box h2 {
    color: #ffffff;
}

.end-test-img {
    
    border-radius: 10px;
    border: 5px solid whitesmoke;
    margin: 1rem;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    width: 170px;
    height: 170px;
}

#back-button {
    background-color:  purple;
    background-image: url(../images/carbon.png);
    color: white;
    padding: 20px;
    width: 14rem;
    border-radius: 10px;
    border: 5px solid white;
    font-family: Schoolbell, sans-serif;
    font-size: 1.4rem;
    margin-top: 5%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

#back-button:hover { 
    border: 5px solid yellow;
}

#end-test-button {
    background-color:  red;
    background-image: url(../images/carbon.png);
    color: white;
    padding: 20px;
    width: 14rem;
    border-radius: 10px;
    border: 5px solid white;
    font-family: Schoolbell, sans-serif;
    font-size: 1.4rem;
    margin-top: 5%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

#end-test-button:hover { 
    border: 5px solid yellow;
}

/* *** MEDIA QUERIES *** */

@media screen and (max-width: 1250px) {
    
    .nav-row {
    width: 100%;
    margin-left: 0%;
    }

    .thumb-box {
    text-align: center;
    width: 50%;
    margin-right: 15%;
    }

}


@media screen and (max-width: 1000px) {

    #play-info {
    margin-left: 25%;
    margin-right: 25%;
    }

    .rules-pic1 {
        width: 50%;
    }

    .rules-pic2 {
        width: 50%;
    }
    
}


@media screen and (max-width: 770px) {


    h1 {
    font-size: 200%;
    }

    h2 {
    font-size: 100%;
        }

    #play-info {
    margin-left: 14%;
    margin-right: 14%;
    }   
}

@media screen and (max-width: 700px) {

    .game-menu-row{
    width: 100%;
    margin-left: 0%;
    }
    .box {
        width: 160px;
        height: 160px;
    }

    .menu-row h1{
        font-size: 175%;
    }

    .menu-row {
        width: 90%;
        margin-left: 5%;
    }

}

@media screen and (max-width: 515px) {


    .back-link {
        font-size: 150%;
    }

    #play-info {
        margin-left: 5%;
        margin-right: 5%;
    }

    .box{
        width: 150px;
        height: 150px;
    }

        #footer-info {
            width: 100%;
            text-align: center;
        }

        .menu-row {
            width: 100%;
            margin-left: 0%;
        }

        #modal-button {
            font-size: .8rem;
        }

    }

    @media screen and (max-width: 460px) {

        #play-info {
            margin-left: 11%;
            margin-right: 11%;
            font-size: 75%;
        }

        .box{
            width: 125px;
            height: 125px;
        }

        #q-thumb {
            width: 62.5px;
        }
        
        #thumb-hunt {
            width: 62.5px;
        }

        .back-link h1 {
            font-size: 175%;
        }

        .nav-link {
            font-size: 70%;
        }

        #thumb-hint {
            width: 62.5px;
        }
    }

    @media screen and (max-width: 400px) {

        .menu-button {
            font-size: 1.2rem;
        }

        .menu-info-row h2{
            font-size: 70%;
        }

        .back-link {
            font-size: 100%;
        }
        
        .box{
            width: 100px;
            height: 100px;
        }

        #q-thumb {
            width: 50px;
        }

        #thumb-hint {
            width: 50px;
        }

        #play-info {
            font-size: 70%;
        }

        #modal-box {
            font-size: 85%;
        }
        
        .button-spacer {
            margin-left: 5%;
        }
    }    